# sekrety - nigdy nie commitujemy prawdziwych kluczy API
.env
.streamlit/secrets.toml
# dane - trzymamy je w R2
data/raw/
data/processed/
notebooks/downloaded_data/

# wytrenowane modele - też trzymamy w R2
models/*.pkl

# standardowe pliki Pythona
__pycache__/
*.pyc
.ipynb_checkpoints/
.venv/
venv/

langfuse usage png